.jobReqArea{
    background-color: #ffffff;
    color: #000000;
    padding: 1%;
    border-radius: 20px;
}

.allJobs{
    background-color: #ffffff;
    color: #000000;
    padding: 1%;
    margin-top: 2%;
    border-radius: 20px;
}