.leaseContainer{
    background-color: #ffffff;
    border-radius: 25px;
    padding: 1%;
}

.leaseHeading{
    color: #000000;
}

.form-group{
    width:100% !important;
}

.tableHeadings{
    font-weight: 700;
    font-size: medium;
}