.rentDivSect{
    border-radius: 25px;
    color: #000000;
    background-color: #ffffff;
    padding: 5%;
    font-size: medium;
    
}

.rentP{
    font-size: x-large;
    color: #000000;
}

.spanDate{
    display: block;
}

.rentAmt{
    font-size: xx-large;
    font-weight:bold;
    font-size: 2em;
    margin: 2% 0%;
    display: inline-block;
}

.snapShotImg{
    width: 20%;
    height: 50%;
    float: right;
}

.rentalSect{
    margin-top: 5%;
}


