.rentDivSect{
    border-radius: 25px;
    color: #000000;
    background-color: #ffffff;
    padding: 5%;
    font-size: medium;
    
}

.rentP{
    font-size: x-large;
    color: #000000;
    display: block;
}

.payBtn{
    display: inline-block;
}

.spanDate{
    display: block;
    margin: 2% 0%;
}

.spanText{
    display: block;
}

.rentAmt{
    font-size: xx-large;
    font-weight:bold;
    font-size: 2em;
    margin: 3% 0%;
    display: inline-block;
}

.snapShotImg{
    width: 20%;
    height: 50%;
    float: right;
    margin-top: -50px !important;
}

.rentalSect{
    margin-top: 5%;
}

.paymentsRow{
    margin: 1%  0%;
}

.colHide{
    display: none;
}


.rowPayments{
    background-color: #ffffff;
    color:#000000;
    border-radius: 20px;
    padding: 10px;
    margin: 2px 0px;
}

.btnSpan{
      float: right;
}

